[Unit]
Description= Service
After=docker.service network.target

[Service]
Type=simple
Restart=always
User=root
Environment="CONF=/etc/gnas/docker-compose.yml"
ExecStartPre=-/usr/bin/docker-compose -f $CONF pull --parallel
ExecStartPre=-/usr/bin/docker-compose -f $CONF down
ExecStart=/usr/bin/docker-compose -f $CONF up --no-color
ExecStop=/usr/bin/docker-compose -f $CONF down

[Install]
WantedBy=multi-user.target

