[Unit]
Description=Prometheus Alertmanager Service
After=docker.service network.target
Requires=docker.service

[Service]
Restart=always
User=root
ExecStartPre=-/usr/bin/docker rm -f alertmanager
ExecStartPre=-/usr/bin/docker pull prom/alertmanager:latest
ExecStartPre=/usr/bin/docker run \
 -d \
 -p 9093:9093 \
 -v /opt/gnas/prom/alertmanager.yml:/etc/prometheus/alertmanager.yml \
 -v /opt/gnas/prom/templates:/etc/alertmanager/templates \
 -v /opt/gnas/prom/alertmanager:/alertmanager \
 --name alertmanager \
 --rm \
 prom/alertmanager:latest
ExecStart=/usr/bin/docker logs -f alertmanager
ExecStop=-/usr/bin/docker stop alertmanager
ExecStopPost=-/usr/bin/docker rm -f alertmanager

[Install]
WantedBy=multi-user.target
