[Unit]
Description=Container Advisor Service
After=docker.service network.target
Requires=docker.service

[Service]
Restart=always
User=root
ExecStartPre=-/usr/bin/docker rm -f cadvisor
ExecStartPre=-/usr/bin/docker pull google/cadvisor:latest
ExecStartPre=/usr/bin/docker run \
  -d \
  - PUID=65534 \
  - PGID=65534 \
  - TZ='America/Los Angeles' \
  -p 8080:8080 \
  -v /:/rootfs:ro \
  -v /var/run:/var/run:ro \
  -v /sys:/sys:ro \
  -v /var/lib/docker/:/var/lib/docker:ro \
  -v /dev/disk/:/dev/disk:ro \
  --name cadvisor \
  --rm \
  google/cadvisor:latest
ExecStart=/usr/bin/docker logs -f cadvisor
ExecStop=-/usr/bin/docker stop cadvisor
ExecStopPost=-/usr/bin/docker rm -f cadvisor

[Install]
WantedBy=multi-user.target
