[Unit]
Description=Grafana Service
After=docker.service network.target
Requires=docker.service

[Service]
Restart=always
User=root
ExecStartPre=-/usr/bin/docker rm -f grafana
ExecStartPre=-/usr/bin/docker pull grafana/grafana:latest
ExecStartPre=/usr/bin/docker run \
 -d \
 -p 3000:3000 \
 -v /opt/gnas/grafana/grafana.ini:/etc/grafana/grafana.ini \
 -v /opt/gnas/grafana/lib:/var/lib/grafana \
 -v /opt/gnas/grafana/log:/var/log/grafana \
 --name grafana \
 --rm \
 grafana/grafana:latest
ExecStart=/usr/bin/docker logs -f grafana
ExecStop=-/usr/bin/docker stop grafana
ExecStopPost=-/usr/bin/docker rm -f grafana

[Install]
WantedBy=multi-user.target
