[Unit]
Description=Portainer Service
After=docker.service network.target
Requires=docker.service

[Service]
Restart=always
User=root
ExecStartPre=-/usr/bin/docker rm -f portainer
ExecStartPre=-/usr/bin/docker pull portainer/portainer
ExecStartPre=/usr/bin/docker run \
  -d \
  -p 9000:9000 \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /var/lib/portainer:/data \
  -v /etc/portainer:/etc/portainer \
  --name portainer \
  --rm \
  portainer/portainer:latest \
  -p :9000 \
  -d /data \
  --template-file /etc/portainer/templates.json
ExecStart=/usr/bin/docker logs -f portainer
ExecStop=-/usr/bin/docker stop portainer
ExecStopPost=-/usr/bin/docker rm -f portainer

[Install]
WantedBy=multi-user.target
