[Unit]
Description=Prometheus Service
After=docker.service network.target
Requires=docker.service

[Service]
Restart=always
User=root
ExecStartPre=-/usr/bin/docker rm -f prometheus
ExecStartPre=-/usr/bin/docker pull prom/prometheus:latest
ExecStartPre=/usr/bin/docker run \
 -d \
# --dns=192.168.1.1 \  # Add your DNS server here if you use Prometheus DNS discovery.
# --dns-search=yourdomain.com. \  # Add the domain for which your DNS server is authoritative.
 -p 9090:9090 \
 -v /opt/gnas/prom/prometheus.yml:/etc/prometheus/prometheus.yml \
 -v /opt/gnas/prom/rules:/etc/prometheus/rules \
 -v /opt/gnas/prom/prometheus:/prometheus \
 --name prometheus \
 --rm \
 prom/prometheus:latest
ExecStart=/usr/bin/docker logs -f prometheus
ExecStop=-/usr/bin/docker stop prometheus
ExecStopPost=-/usr/bin/docker rm -f prometheus

[Install]
WantedBy=multi-user.target
