[Unit]
Description=Prometheus Pushgateway Service
After=docker.service network.target
Requires=docker.service

[Service]
Restart=always
User=root
ExecStartPre=-/usr/bin/docker rm -f pushgateway
ExecStartPre=-/usr/bin/docker pull prom/pushgateway:latest
ExecStartPre=/usr/bin/docker run \
 -d \
 -p 9091:9091 \
 -v /opt/gnas/prom/pushgateway:/pushgateway \
 --name pushgateway \
 --rm \
 prom/pushgateway:latest
ExecStart=/usr/bin/docker logs -f pushgateway
ExecStop=-/usr/bin/docker stop pushgateway
ExecStopPost=-/usr/bin/docker rm -f pushgateway

[Install]
WantedBy=multi-user.target
