[Unit]
Description=Portainer Service
After=docker.service zfs-mount.service
Requires=docker.service zfs-mount.service

[Service]
ExecStartPre=/usr/bin/docker pull portainer/portainer:latest
ExecStart=/usr/bin/docker run -p 9000:9000 -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/portainer:/data --name portainer --rm portainer/portainer:latest --templates https://raw.githubusercontent.com/gtrummell/gnas-portainer-templates/master/templates/templates.json
NotifyAccess=all
Restart=always
RestartSec=10s
TimeoutStartSec=0
Type=notify

[Install]
WantedBy=multi-user.target
